html,
body,
#root {
  min-height: 100%;
}

body {
  min-width: 320px;
}

::selection {
  background: #7c5cff;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #08090c;
}

::-webkit-scrollbar-thumb {
  background: #292b35;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #414352;
}